@import "tailwindcss";

:root {
  --color-principal: #043353;
  --color-secundario: #E7E3DD;
  --color-acento: #BB2649;
}

body {
  background: var(--color-secundario);
  color: var(--color-principal);
  font-family: var(--font-montserrat), sans-serif;
}

html {
  scroll-behavior: smooth;
}
